.landing-page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0 20%;
  .page-header {
    font-weight: bold;
    font-size: 2em;
    margin: 18px 0;
  }
  .page-header,
  .page-text {
    flex-grow: 1;
  }

  .cta-section {
    margin-top: 66px;
    display: flex;
    flex-direction: column;
    align-items: center;
    button {
      flex-grow: 0;
    }
    .alternative-cta-text {
      margin-top: 18px;
      font-style: italic;
      flex-grow: 1;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
